<div id="brands" class="section section-dark text-center">
  <div class="container">
    <h2 class="title">Brands We Deal In</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card card-profile card-plain">
          <div class="card-avatar">
            <a href="https://www.ambujacement.com" target="_blank"
              ><img src="./assets/img/brands/ambuja-cement.jfif" alt="Ambuja Cement"
            /></a>
          </div>
          <div class="card-block">
            <div class="brand">
              <h4 class="card-title">Ambuja Cement</h4>
            </div>
            <p class="card-description text-center">
              Ambuja Cements Ltd, a part of the global conglomerate LafargeHolcim, is one of the
              leading cement companies in India and is known for its hassle-free, home-building
              solutions.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-profile card-plain">
          <div class="card-avatar">
            <a href="https://www.mpbirlacement.com" target="_blank"
              ><img src="./assets/img/brands/mp-birla-cement.jpg" alt="MP Birla Cement"
            /></a>
          </div>
          <div class="card-block">
            <div class="brand">
              <h4 class="card-title">MP Birla Cement</h4>
            </div>
            <p class="card-description text-center">
              MP Birla Cement MULTICEM is a BIS-certified PPC cement, specially engineered for
              infrastructural development. Know More. MP Birla Cement Concrecem (OPC).
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-profile card-plain">
          <div class="card-avatar">
            <a href="https://www.shreecement.com" target="_blank"
              ><img src="./assets/img/brands/shree-cement.jpg" alt="Shree Cement"
            /></a>
          </div>
          <div class="card-block">
            <div class="brand">
              <h4 class="card-title">Shree Cement</h4>
            </div>
            <p class="card-description text-center">
              Shree Cement is an Indian cement manufacturer, founded in Beawar, Rajasthan, in 1979.
              Now headquartered in Kolkata, it is one of the biggest cement makers in Northern
              India.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="products" class="section">
  <div class="container">
    <div id="images">
      <div class="container">
        <h2 class="title text-center">Our Key Products</h2>
        <div class="row">
          <div class="col-xs-8 col-sm-6 col-md-4">
            <h4 class="images-title">Ambuja Cement</h4>
            <img
              src="assets/img/products/ambuja-cement.jpg"
              class="img-rounded img-responsive img-fixed-size"
              alt="Rounded Image"
            />
            <br /><br />
            <div class="col-md-12 text-center">
              <app-lowest-price-component [name]="'Ambuja Cement'"></app-lowest-price-component>
            </div>
          </div>
          <div class="col-xs-8 col-sm-6 col-md-4">
            <h4 class="images-title">Ambuja Plus</h4>
            <img
              src="assets/img/products/ambuja-plus.jpg"
              class="img-rounded img-responsive img-fixed-size"
              alt="Rounded Image"
            />
            <br /><br />
            <div class="col-md-12 text-center">
              <app-lowest-price-component [name]="'Ambuja Plus'"></app-lowest-price-component>
            </div>
          </div>
          <div class="col-xs-8 col-sm-6 col-md-4">
            <h4 class="images-title">Ambuja Kawach</h4>
            <img
              src="assets/img/products/ambuja-kawach.jpg"
              class="img-rounded img-responsive img-fixed-size"
              alt="Rounded Image"
            />
            <br /><br />
            <div class="col-md-12 text-center">
              <app-lowest-price-component [name]="'Ambuja Kawach'"></app-lowest-price-component>
            </div>
          </div>
        </div>
        <br />
        <br />
        <div class="row">
          <div class="col-xs-8 col-sm-6 col-md-4">
            <h4 class="images-title">Shree Jang Rodhak</h4>
            <img
              src="assets/img/products/jang-rodhak.png"
              class="img-rounded img-responsive img-fixed-size"
              alt="Rounded Image"
            />
            <br /><br />
            <div class="col-md-12 text-center">
              <app-lowest-price-component [name]="'Shree Jang Rodhak'"></app-lowest-price-component>
            </div>
          </div>
          <div class="col-xs-8 col-sm-6 col-md-4">
            <h4 class="images-title">Shree Roofon</h4>
            <img
              src="assets/img/products/roofon.jpg"
              class="img-rounded img-responsive img-fixed-size"
              alt="Rounded Image"
            />
            <br /><br />
            <div class="col-md-12 text-center">
              <app-lowest-price-component [name]="'Shree Roofon'"></app-lowest-price-component>
            </div>
          </div>
          <div class="col-xs-8 col-sm-6 col-md-4">
            <h4 class="images-title">MP Birla Chetak</h4>
            <img
              src="assets/img/products/chetak.png"
              class="img-rounded img-responsive img-fixed-size"
              alt="Rounded Image"
            />
            <br /><br />
            <div class="col-md-12 text-center">
              <app-lowest-price-component [name]="'MP Birla Chetak'"></app-lowest-price-component>
            </div>
          </div>
        </div>
        <br />
        <br />
        <div class="row">
          <div class="col-xs-8 col-sm-6 col-md-4">
            <h4 class="images-title">MP Birla Ultimate</h4>
            <img
              src="assets/img/products/ultimate.jpg"
              class="img-rounded img-responsive img-fixed-size"
              alt="Rounded Image"
            />
            <br /><br />
            <div class="col-md-12 text-center">
              <app-lowest-price-component [name]="'MP Birla Ultimate'"></app-lowest-price-component>
            </div>
          </div>
          <div class="col-xs-8 col-sm-6 col-md-4">
            <h4 class="images-title">Rodi</h4>
            <img
              src="assets/img/products/rodi.jpeg"
              class="img-rounded img-responsive img-fixed-size"
              alt="Rounded Image"
            />
            <br /><br />
            <div class="col-md-12 text-center">
              <app-lowest-price-component [name]="'Rodi'"></app-lowest-price-component>
            </div>
          </div>
          <div class="col-xs-8 col-sm-6 col-md-4">
            <h4 class="images-title">Dust</h4>
            <img
              src="assets/img/products/dust.jpeg"
              class="img-rounded img-responsive img-fixed-size"
              alt="Rounded Image"
            />
            <br /><br />
            <div class="col-md-12 text-center">
              <app-lowest-price-component [name]="'Dust'"></app-lowest-price-component>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
