<div class="wrapper">
    <div class="page-header section-dark">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="angular-logo">
                        <img src="assets/img/shri-gupta-logo.jpeg" alt="">
                    </div>
                    <h1 class="presentation-title">Shri Gupta Cement Distributors</h1>
                </div>
                <h2 class="presentation-subtitle text-center">One shop for Quality Cement at Best Price</h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        <h6 class=" category-absolute ml-auto mr-auto">Main Road, Jhinjhana, Uttar Pradesh 247773, Timings - 7:00 AM to
            8:00
            PM
        </h6>
    </div>
    <div class="main">
        <br><br>
        <div id="aboutUs" class="section text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 offset-md-4">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#avatar"><img src="./assets/img/shri-gupta-owner.PNG" alt="..."></a>
                            </div>
                            <br>
                            <div>
                                <h5 class="text-center"><b>Shalabh Gupta (Owner)</b></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 mr-auto ml-auto">
                        <h2 class="title">About Us</h2>
                        <h5 class="description">We are one of the key distributors of various types of Cement, Rodi and
                            Dust with the best quality at an affordable price. We believe that building a house is one
                            of the lifetime decision and once it is built you can change everything but the key
                            ingredients like cement can not be changed. So, one must take at most pre-caution while
                            taking this decision and should not compromise with quality. Due to this fact, we have
                            integrated these values into our business for the customers.</h5>
                        <br>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-diamond"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Quality</h4>
                                <p class="description">We never compromise on quality that is why we only deal in the
                                    most trusted brands in the Indian cement industry to provide the best quality
                                    cement.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-atom"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Competitive Price</h4>
                                <p>Our price is one of most competitive in the town. We believe in customer retention by
                                    providing products at a reasonable price which is another reason for our customer
                                    happiness.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-sound-wave"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Precision</h4>
                                <p>We are very precise when it comes to quantity. We provide various options to verify
                                    the quantity or weight for the products before it gets delivered to ensure our
                                    customer trust.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-delivery-fast"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Committed</h4>
                                <p>To provide more convenience, Customer can do order booking with advance payment and the
                                    products will be delivered at the site with nominal delivery charges.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="section" id="carousel">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mr-auto ml-auto">
                        <div class="card page-carousel">
                            <ngb-carousel [interval]="2000" [showNavigationIndicators]="false">
                                <ng-template ngbSlide>
                                    <img src="./assets/img/slider/slide-photo-1.PNG">
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="./assets/img/slider/slide-photo-2.PNG">
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="./assets/img/slider/slide-photo-3.PNG">
                                </ng-template>
                            </ngb-carousel>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="brands" class="section section-dark text-center">
            <div class="container">
                <h2 class="title">Brands We Deal In</h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#avatar"><img src="./assets/img/brands/ambuja-cement.jfif" alt="..."></a>
                            </div>
                            <div class="card-block">
                                <a href="#paper-kit">
                                    <div class="author">
                                        <h4 class="card-title">Ambuja Cement</h4>
                                    </div>
                                </a>
                                <p class="card-description text-center">
                                    Ambuja Cements Ltd, a part of the global conglomerate LafargeHolcim, is one of the
                                    leading cement companies in India and is known for its hassle-free, home-building
                                    solutions.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#avatar"><img src="./assets/img/brands/mp-birla-cement.jpg" alt="..."></a>
                            </div>
                            <div class="card-block">
                                <a href="#paper-kit">
                                    <div class="author">
                                        <h4 class="card-title">MP Birla Cement</h4>
                                    </div>
                                </a>
                                <p class="card-description text-center">
                                    MP Birla Cement MULTICEM is a BIS-certified PPC cement, specially engineered for
                                    infrastructural development. Know More. MP Birla Cement Concrecem (OPC).
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#avatar"><img src="./assets/img/brands/shree-cement.jpg" alt="..."></a>
                            </div>
                            <div class="card-block">
                                <a href="#paper-kit">
                                    <div class="author">
                                        <h4 class="card-title">Shree Cement</h4>
                                    </div>
                                </a>
                                <p class="card-description text-center">
                                    Shree Cement is an Indian cement manufacturer, founded in Beawar, Rajasthan, in
                                    1979. Now headquartered in Kolkata, it is one of the biggest cement makers in
                                    Northern India.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="products" class="section">
            <div class="container tim-container">
                <div id="images">
                    <div class="container">
                        <h2 class="title text-center">Our Key Products</h2>
                        <div class="row">
                            <div class="col-xs-8 col-sm-6 col-md-4">
                                <h4 class="images-title">Ambuja Cement</h4>
                                <img src="assets/img/products/ambuja-cement.jpg"
                                    class="img-rounded img-responsive img-fixed-size" alt="Rounded Image">
                                <br><br>
                                <div class="col-md-12 text-center">
                                    <app-modal-component [name]="'Ambuja Cement'"></app-modal-component>
                                </div>
                            </div>
                            <div class="col-xs-8 col-sm-6 col-md-4">
                                <h4 class="images-title">Ambuja Plus</h4>
                                <img src="assets/img/products/ambuja-plus.jpg"
                                    class="img-rounded img-responsive img-fixed-size" alt="Rounded Image">
                                <br><br>
                                <div class="col-md-12 text-center">
                                    <app-modal-component [name]="'Ambuja Plus'"></app-modal-component>
                                </div>
                            </div>
                            <div class="col-xs-8 col-sm-6 col-md-4">
                                <h4 class="images-title">Ambuja Kawach</h4>
                                <img src="assets/img/products/ambuja-kawach.jpg"
                                    class="img-rounded img-responsive img-fixed-size" alt="Rounded Image">
                                <br><br>
                                <div class="col-md-12 text-center">
                                    <app-modal-component [name]="'Ambuja Kawach'"></app-modal-component>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-xs-8 col-sm-6 col-md-4">
                                <h4 class="images-title">Shree Jang Rodhak</h4>
                                <img src="assets/img/products/jang-rodhak.png"
                                    class="img-rounded img-responsive img-fixed-size" alt="Rounded Image">
                                <br><br>
                                <div class="col-md-12 text-center">
                                    <app-modal-component [name]="'Shree Jang Rodhak'"></app-modal-component>
                                </div>
                            </div>
                            <div class="col-xs-8 col-sm-6 col-md-4">
                                <h4 class="images-title">Shree Roofon</h4>
                                <img src="assets/img/products/roofon.jpg"
                                    class="img-rounded img-responsive img-fixed-size" alt="Rounded Image">
                                <br><br>
                                <div class="col-md-12 text-center">
                                    <app-modal-component [name]="'Shree Roofon'"></app-modal-component>
                                </div>
                            </div>
                            <div class="col-xs-8 col-sm-6 col-md-4">
                                <h4 class="images-title">MP Birla Chetak</h4>
                                <img src="assets/img/products/chetak.png"
                                    class="img-rounded img-responsive img-fixed-size" alt="Rounded Image">
                                <br><br>
                                <div class="col-md-12 text-center">
                                    <app-modal-component [name]="'MP Birla Chetak'"></app-modal-component>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-xs-8 col-sm-6 col-md-4">
                                <h4 class="images-title">MP Birla Ultimate</h4>
                                <img src="assets/img/products/ultimate.jpg"
                                    class="img-rounded img-responsive img-fixed-size" alt="Rounded Image">
                                <br><br>
                                <div class="col-md-12 text-center">
                                    <app-modal-component [name]="'MP Birla Ultimate'"></app-modal-component>
                                </div>
                            </div>
                            <div class="col-xs-8 col-sm-6 col-md-4">
                                <h4 class="images-title">Rodi</h4>
                                <img src="assets/img/products/rodi.jpeg"
                                    class="img-rounded img-responsive img-fixed-size" alt="Rounded Image">
                                <br><br>
                                <div class="col-md-12 text-center">
                                    <app-modal-component [name]="'Rodi'"></app-modal-component>
                                </div>
                            </div>
                            <div class="col-xs-8 col-sm-6 col-md-4">
                                <h4 class="images-title">Dust</h4>
                                <img src="assets/img/products/dust.jpeg"
                                    class="img-rounded img-responsive img-fixed-size" alt="Rounded Image">
                                <br><br>
                                <div class="col-md-12 text-center">
                                    <app-modal-component [name]="'Dust'"></app-modal-component>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="contactUs" class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Keep in touch?</h2>
                        <p class="description">Cause if you do, we can send you frequent updates regarding the new
                            product launches, major price changes, deals or discounts.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 mr-auto ml-auto">
                        <form class="contact-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Name</label>
                                    <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                        </div>
                                        <input type="text" [(ngModel)]="subscribeMeName" name="name"
                                            class="form-control" placeholder="Name" (focus)="focus=true"
                                            (blur)="focus=false">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Mobile Number</label>
                                    <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="nc-icon nc-mobile"></i></span>
                                        </div>
                                        <input [(ngModel)]="subscribeMeMobileNumber" name="mobileNumber" type="number"
                                            class="form-control" placeholder="Mobile Number" (focus)="focus1=true"
                                            (blur)="focus1=false">
                                    </div>
                                </div>
                            </div>
                            <label>Message</label>
                            <textarea class="form-control" name="message" [(ngModel)]="subscribeMeMessage" rows="4"
                                placeholder="Any other information..."></textarea>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <button class="btn btn-danger btn-lg btn-fill" (click)="subscribeMe()">Subscribe
                                        Me</button>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12 text-center" *ngIf="showSuccess">
                                    <h6 class="text-success">You details has been send successfully. We will get back to
                                        you soon.</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-center" *ngIf="showError">
                                    <h6 class="text-danger">There is some error. Please try again after sometime.
                                    </h6>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Get Directions</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <div class="map-responsive">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3471.8000571165912!2d77.22035331438937!3d29.52218665001037!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390c2a96a57faba9%3A0xe173e300ff3b346e!2sShri%20Gupta%20Cement%20Agency!5e0!3m2!1sen!2sin!4v1623213116705!5m2!1sen!2sin"
                                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>