<div class="page-header section-dark">
  <div class="filter"></div>
  <div class="content-center">
    <div class="container">
      <div class="title-brand">
        <div class="angular-logo">
          <img src="assets/img/shree-gupta-logo.jpeg" alt="" />
        </div>
        <h1 class="presentation-title">Shree Gupta Cement Distributors</h1>
      </div>
      <h2 class="presentation-subtitle text-center">One shop for Quality Cement at Best Price</h2>
    </div>
  </div>
  <div class="moving-clouds" style="background-image: url('assets/img/clouds.png')"></div>
  <h6 class="category-absolute ms-auto me-auto">
    Main Road, Jhinjhana, Uttar Pradesh 247773, Mobile 9536067500, Timings - 7:00 AM to 8:00 PM
  </h6>
</div>
