<div class="section">
    <div class="container tim-container">
        <div id="images">
            <div class="container">
                <h2 class="title text-center">Our Key Products</h2>
                <div class="row">
                    <div class="col-xs-8 col-sm-6 col-md-4">
                        <h4 class="images-title">Ambuja Cement</h4>
                        <img src="assets/img/products/ambuja-cement.jpg" class="img-rounded img-responsive"
                            alt="Rounded Image">
                    </div>
                    <div class="col-xs-8 col-sm-6 col-md-4">
                        <h4 class="images-title">Ambuja Plus</h4>
                        <img src="assets/img/products/ambuja-plus.jpg" class="img-rounded img-responsive"
                            alt="Rounded Image">
                    </div>
                    <div class="col-xs-8 col-sm-6 col-md-4">
                        <h4 class="images-title">Ambuja Kawach</h4>
                        <img src="assets/img/products/ambuja-kawach.jpg" class="img-rounded img-responsive"
                            alt="Rounded Image">
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-xs-8 col-sm-6 col-md-4">
                        <h4 class="images-title">Shree Jang Rodhak</h4>
                        <img src="assets/img/products/jang-rodhak.png" class="img-rounded img-responsive"
                            alt="Rounded Image">
                    </div>
                    <div class="col-xs-8 col-sm-6 col-md-4">
                        <h4 class="images-title">Shree Roofon</h4>
                        <img src="assets/img/products/roofon3.jpg" class="img-rounded img-responsive"
                            alt="Rounded Image">
                    </div>
                    <div class="col-xs-8 col-sm-6 col-md-4">
                        <h4 class="images-title">MP Birla Chetak</h4>
                        <img src="assets/img/products/chetak2.png" class="img-rounded img-responsive"
                            alt="Rounded Image">
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-xs-8 col-sm-6 col-md-4">
                        <h4 class="images-title">MP Birla Ultimate</h4>
                        <img src="assets/img/products/ultimate2.jpg" class="img-rounded img-responsive"
                            alt="Rounded Image">
                    </div>
                    <div class="col-xs-8 col-sm-6 col-md-4">
                        <h4 class="images-title">Rodi</h4>
                        <img src="assets/img/products/rodi.jpeg" class="img-rounded img-responsive"
                            alt="Rounded Image">
                    </div>
                    <div class="col-xs-8 col-sm-6 col-md-4">
                        <h4 class="images-title">Dust</h4>
                        <img src="assets/img/products/dust.jpeg" class="img-rounded img-responsive"
                            alt="Rounded Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>